<a href="https://colab.research.google.com/github/MarlaGoodman/DAVRecommenderSystems/blob/main/Pandas_Explode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Transform each element of a list-like to a row, replicating index values.

DataFrame.explode(column) - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.explode.html

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [[0, 1, 2], 'okay', [], [3, 4]],
                   'B': 1,
                   'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})
df

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1       okay  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

In [ ]:
df.explode('A')

      A  B          C
0     0  1  [a, b, c]
0     1  1  [a, b, c]
0     2  1  [a, b, c]
1  okay  1        NaN
2   NaN  1         []
3     3  1     [d, e]
3     4  1     [d, e]

In [ ]:
df.explode(list('AC'))

      A  B    C
0     0  1    a
0     1  1    b
0     2  1    c
1  okay  1  NaN
2   NaN  1  NaN
3     3  1    d
3     4  1    e

Explodes items like: lists, tuples, series, and np.ndarrays. The result dtype of the subset rows will be object. Empty list-likes will result in a np.nan for that row.

df.explode('column').reset_index(drop=True) - changes index to consecutive numbers

[Pandas Explode Visual](https://www.youtube.com/watch?v=ZaIa3ukNuvc)